.btn {
    max-height: fit-content;
    padding: 8px;
    color: #ffffff;
    background-color: #00791a;
    border: transparent;
    border-radius: 5px;
    text-transform: capitalize;
    letter-spacing: 1.3px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.btn:hover {
    background-color: #29a744;
    color: #000000;
}

.active {
    background-color: red;
}