.btn {
    display: block;
    max-width: 250px;
    max-height: fit-content;
    margin: 40px auto 0;
    padding: 20px;
    color: #E3D3F5;
    background-color: #2E22A3;
    border: 1px solid #000000;
    border-radius: 5px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    transition: all 0.2s ease-in;
}

.btn:hover {
    background-color: #4067ba;
}

.active{
    background-color: red;
}