.modal__input {
    max-width: 270px;
    width: 100%;
    margin-top: 25px;
    padding: 3px 5px;
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #c4c4c4;
    transition: all 0.2s ease-in;
}

.modal__input:focus {
    outline: 0;
    border-bottom: 2px solid #2E22A3;
}